/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require posts
 *= require authors
 */


.logo{
 margin:20px auto; 
}

.logo{
text-align:center;
}


.title{
text-align:center;
margin-top:8px;
font-family: 'Sacramento', cursive;
font-size:30px;
padding-bottom:20px;
}






nav {
    text-align: center;
    margin: 0 auto;
    color:black;
  

}

nav ul{
    padding-left:0;
    margin-left:0;


}

nav ul li {
    display:inline;


}

nav ul a {
padding:0.2em 1em;
   color:black;
    text-decoration:none;
}


nav ul a:hover {
text-decoration:underline;
color:#ce3d45;
}
